<!doctype html>
<html>
  <head>
    {% block head %}
    <title>Pickup2FrontDoor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    {% block extrajs %}{% endblock%}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
  <h1 style="color:#7A89AA; text-align: center;">Pickup2FrontDoor</h1>
  <br>
    <div class="container"  >
    <nav class="navbar navbar-light" style="background-color: #7A89AA;" >
        <ul class="nav justify-content-center navbar-nav">
          <li {% block nav_request %}{% endblock %}><a href="/request">Request a Pickup</a></li>
          <li {% block nav_accept %}{% endblock %}><a href="/accept">Accept a Pickup</a></li>
          <li {% block nav_status %}{% endblock %}><a href="/status">Pickup Request Status</a></li>
          <li {% block nav_logout %}{% endblock %}><a href="/logout">Log out</a></li>
        </ul>
    </nav>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>



  </body>
</html>
