{% block extrajs %}
<!-- You should place your js files here -->
<!-- e.g. <script src="/static/js/index.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style type="text/css">
      label {
        display: inline-block;
        width: 100px;
        text-align: right;
      }
    </style>
{% endblock%}

{% block title %}  {% endblock %}

{% block content %}
<div class="w3-row" style="margin-top: 100px">
  <div class="w3-container w3-half">
    <h1 style="color:#7A89AA" align="center">Pickup2FrontDoor</h1>
  </div>
  <div class="w3-container w3-half col-sm-4" style="background-color:#7A89AA;">
   <p>Pickup2FrontDoor is a site to have ready to pick up orders delivered right to your front door!
                How it works: Submit a request to have an order picked up. Once your request is accepted you inform the
                store who is coming to pickup the order and your order is take right to your front door!</p>
  </div>
</div>

<div class="w3-row" style="margin-top:50px">
    <div>
    <img src="static/src/frontdoor.jpg"  align="left" width="700" height="400"/>

    <div class="container"> 
            <center>
            <button class="btn form-control btn-primary"><a href='/register'>Get Started</a></button>
            </center>
    </div>


  
{% endblock %}
